<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="classificationMarker"
         name="%_classificationMarker.name"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.wst.validation.problemmarker2">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
    <extension
         id="hintMarker"
         name="%_hintMarker.name"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.wst.validation.problemmarker2">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
    <extension
          id="quickfixMarker"
          name="%_quickfixMarker.name"
          point="org.eclipse.core.resources.markers">
       <persistent
             value="true">
       </persistent>
       <super
             type="org.eclipse.core.resources.marker">
       </super>
    </extension>
</plugin>
