<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.RHAMT.name"
            id="org.jboss.tools.windup.ui.view.category.windup">
      </category>
      <view
            allowMultiple="false"
            category="org.jboss.tools.windup.ui.view.category.windup"
            class="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorer"
            icon="icons/windup.png"
            id="org.jboss.tools.windup.ui.explorer"
            name="Issue Explorer">
      </view>
      <e4view
            allowMultiple="false"
            category="org.jboss.tools.windup.ui.view.category.windup"
            class="org.jboss.tools.windup.ui.internal.views.WindupReportView"
            icon="icons/windup.png"
            id="org.jboss.tools.windup.ui.views.WindupReportView"
            name="%view.windup_report.name"
            restorable="true">
      </e4view>
      <e4view
            allowMultiple="false"
            category="org.jboss.tools.windup.ui.view.category.windup"
            class="org.jboss.tools.windup.ui.internal.issues.IssueDetailsView"
            icon="icons/windup.png"
            id="org.jboss.tools.windup.ui.issue.details"
            name="Issue Details"
            restorable="true">
      </e4view>
      <view
            allowMultiple="false"
            category="org.jboss.tools.windup.ui.view.category.windup"
            class="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.rules.RuleRepositoryView"
            icon="icons/rules/repositories.gif"
            id="org.jboss.tools.windup.ui.rules.rulesView"
            name="Rulesets"
            restorable="true">
      </view>
      <e4view
            allowMultiple="true"
            class="org.jboss.tools.windup.ui.internal.views.TaskListView"
            id="org.jboss.tools.windup.ui.taskListView"
            name="Task List"
            restorable="true">
      </e4view>
      <e4view
            category="org.jboss.tools.windup.ui.view.category.windup"
            class="org.jboss.tools.windup.ui.internal.views.SubmitRulesetInfoView"
            icon="icons/windup.png"
            id="org.jboss.tools.windup.ui.submitRulesetInfo"
            name="Submit Ruleset"
            restorable="false">
      </e4view>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            name="%category.windup.name"
            id="org.jboss.tools.windup.ui.export.category.windup">
      </category>
      <wizard
            name="%export.windup_reports.name"
            icon="icons/export_windup_report.png"
            category="org.jboss.tools.windup.ui.export.category.windup"
            class="org.jboss.tools.windup.ui.internal.wizards.WindupReportExportWizard"
            id="org.jboss.tools.windup.ui.exportWizard.WindupReport">
         <description>
         </description>
         <keywordReference
               id="org.jboss.tools.windup.ui.keywords.WindupReport">
         </keywordReference>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            label="%keywords.windup_report.labels"
            id="org.jboss.tools.windup.ui.keywords.WindupReport">
      </keyword>
   </extension>
   <extension
         id="org.jboss.tools.windup.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="windup-ui.e4xmi">
      </fragment>
   </extension>
   <extension
         id="windup.expressions"
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.jboss.tools.windup.ui.expression.generateReport">
         <and>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </or>
            </iterate>
         </and>
      </definition>
      <definition
            id="org.jboss.tools.windup.ui.expression.showReport">
              <and>
                 <count
                       value="1">
                 </count>
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <or>
                       <instanceof
                             value="org.eclipse.core.resources.IFile">
                       </instanceof>
                       <instanceof
                             value="org.eclipse.jdt.core.ICompilationUnit">
                       </instanceof>
                       <adapt
                             type="org.eclipse.core.resources.IFile">
                       </adapt>
                       <adapt
                             type="org.eclipse.jdt.core.ICompilationUnit">
                       </adapt>
                    </or>
                 </iterate>
              </and> 
      </definition>
      <definition
            id="org.jboss.tools.windup.ui.expression.exportReport">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <or>
                       <instanceof
                             value="org.eclipse.core.resources.IResource">
                       </instanceof>
                       <adapt
                             type="org.eclipse.core.resources.IResource">
                       </adapt>
                    </or>
                 </iterate>
              </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.launch.WindupLaunchGroup"
            id="org.jboss.tools.windup.ui.WindupLaunchConfigurationTabGroup"
            type="org.jboss.tools.windup.ui.WindupLaunchConfigurationType">
         <launchMode
               description="%windupLaunch.run"
               mode="run"
               perspective="org.jboss.tools.windup.ui.perspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.jboss.tools.windup.ui.WindupLaunchConfigurationType"
            icon="icons/windup.png"
            id="org.jboss.tools.windup.ui.WindupLaunchConfigurationType">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.jboss.tools.windup.ui.explorer?after=additions">
         <command
               commandId="org.jboss.tools.windup.ui.expandIssuesCommand"
               icon="icons/expandall.png"
               style="push">
         </command>
         <separator
               name="org.jboss.tools.windup.ui.separatorExplorer1"
               visible="true">
         </separator>
         <command
               commandId="org.jboss.tools.windup.ui.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push">
         </command>
         <command
               commandId="org.jboss.tools.windup.ui.deleteAllIssues"
               icon="icons/deleteAllMarkers.png"
               style="push"
               tooltip="Delete All Migration Issues">
         </command>
         <command
               commandId="org.jboss.tools.windup.ui.createRunConfiguration"
               icon="icons/windup.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.jboss.tools.windup.ui.explorer?after=additions">
         <command
               commandId="org.jboss.tools.windup.ui.groupByProjectHierarchy"
               icon="icons/hierarchicalLayout.png"
               label="Show Project Hierarchy"
               style="toggle">
         </command>
         <menu
               label="Group By">
            <command
                  commandId="org.jboss.tools.windup.ui.groupBySeverity"
                  icon="icons/errorwarning.png"
                  label="Severity"
                  style="toggle">
            </command>
            <command
                  commandId="org.jboss.tools.windup.ui.groupByRule"
                  icon="icons/rules.gif"
                  label="Migration Rule"
                  style="toggle">
            </command>
            <command
                  commandId="org.jboss.tools.windup.ui.groupByFile"
                  icon="icons/file.png"
                  label="File"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.jboss.tools.windup.ui.explorer?after=additions">
         <command
               commandId="org.jboss.tools.windup.ui.issueDetails"
               label="Issue Details"
               style="push">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.jboss.tools.windup.ui.internal.explorer.MarkerNode">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="org.jboss.tools.windup.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.jboss.tools.windup.ui.markIssueFixed"
               icon="icons/issue-complete.gif"
               label="Mark as Fixed"
               style="push"
               tooltip="Mark issue as fixed.">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.jboss.tools.windup.ui.internal.explorer.MarkerNode">
                     </instanceof>
                     <test
                           property="org.jboss.tools.windup.ui.isFixed">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="org.jboss.tools.windup.ui.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.jboss.tools.windup.ui.previewQuickFix"
               label="Preview Quick Fix"
               style="push">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.jboss.tools.windup.ui.internal.explorer.MarkerNode">
                     </instanceof>
                     <test
                           property="org.jboss.tools.windup.ui.hasQuickFix">
                     </test>
                     <test
                           property="org.jboss.tools.windup.ui.isFixed"
                           value="false">
                     </test></iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.windup.ui.quickFixIssue"
               label="Apply Quick Fix"
               style="push">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.jboss.tools.windup.ui.internal.explorer.MarkerNode">
                     </instanceof>
                     <test
                           property="org.jboss.tools.windup.ui.hasQuickFix">
                     </test>
                     <test
                           property="org.jboss.tools.windup.ui.isFixed"
                           value="false">
                     </test>
                  </iterate></and>
            </visibleWhen>
         </command>
         <separator
               name="org.jboss.tools.windup.ui.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.jboss.tools.windup.ui.deleteIssue"
               icon="icons/delete_config.png"
               label="Delete"
               style="push">
            <visibleWhen>
               <and>
                  <iterate
                        operator="or">
                     <instanceof
                           value="org.jboss.tools.windup.ui.internal.explorer.MarkerNode">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.windup.ui.applyAllQuickFixesCommand"
               label="Quick Fix All"
               style="push">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.jboss.tools.windup.ui.isGroupNode"
                           value="false">
                     </test></iterate>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="org.jboss.tools.windup.ui.reportSeparator"
               visible="true">
         </separator>
         <command
               commandId="org.jboss.tools.windup.ui.openReportCommand"
               icon="icons/report.gif"
               label="Open Report"
               style="push">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.jboss.tools.windup.ui.hasReport"
                           value="false">
                     </test></iterate></and>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.windup.ui.openRuleDefinition"
               icon="icons/rule.png"
               label="Open Rule Defintion"
               style="push">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.jboss.tools.windup.ui.hasRuleDefinition"
                           value="false">
                     </test></iterate></and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.jboss.tools.windup.ui.rules.rulesView">
         <command
               commandId="org.jboss.tools.windup.ui.newXMLRulesetCommand"
               icon="icons/rules/repository-new.gif"
               style="push"
               tooltip="Create a new Ruleset and add it to this view">
         </command>
         <command
               commandId="org.jboss.tools.windup.ui.importRuleset"
               icon="icons/rules/import-repository.png"
               style="push"
               tooltip="Import an existing local Ruleset and add it to this view">
         </command>
         <separator
               name="org.jboss.tools.windup.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.jboss.tools.windup.ui.refreshRulesets"
               icon="icons/rules/repository-synchronize.gif"
               style="push"
               tooltip="Refresh Rulesets">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.jboss.tools.windup.ui.internal.editor.OpenWindupEditorHandler"
            id="org.jboss.tools.windup.ui.command.showWindup"
            name="Open Windup">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.internal.editor.CreateRunConfigurationHandler"
            id="org.jboss.tools.windup.ui.createRunConfiguration"
            name="Create RHAMT Run Configuration">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$GroupByProjectHierarchy"
            id="org.jboss.tools.windup.ui.groupByProjectHierarchy"
            name="Group By Project Hierarchy">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$GroupByFile"
            id="org.jboss.tools.windup.ui.groupByFile"
            name="Group By File">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$GroupBySeverity"
            id="org.jboss.tools.windup.ui.groupBySeverity"
            name="Group By Severity">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$GroupByRule"
            id="org.jboss.tools.windup.ui.groupByRule"
            name="Group By Rule">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$ExpandIssuesHandler"
            id="org.jboss.tools.windup.ui.expandIssuesCommand"
            name="Expand Issues">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$IssueQuickFixHandler"
            id="org.jboss.tools.windup.ui.quickFixIssue"
            name="Quick Fix Issue">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$MarkIssueFixedHandler"
            id="org.jboss.tools.windup.ui.markIssueFixed"
            name="Mark Issue Fixed">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$PreviewQuickFixHandler"
            id="org.jboss.tools.windup.ui.previewQuickFix"
            name="Preview Quick Fix">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$DeleteIssueHandler"
            id="org.jboss.tools.windup.ui.deleteIssue"
            name="Delete Issue">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$ViewIssueDetailsHandler"
            id="org.jboss.tools.windup.ui.issueDetails"
            name="Issue Details">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$DeleteAllIssuesHandler"
            id="org.jboss.tools.windup.ui.deleteAllIssues"
            name="Delete All Issues">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$RefreshIssuesHandler"
            id="org.jboss.tools.windup.ui.refresh"
            name="Refresh Issues">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$QuickFixAllHandler"
            id="org.jboss.tools.windup.ui.applyAllQuickFixesCommand"
            name="Quick Fix All">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerHandlers$OpenReportHandler"
            id="org.jboss.tools.windup.ui.openReportCommand"
            name="Open Report">
      </command>
      <!-- defaultHandler="org.jboss.tools.windup.ui.internal.editor.OpenWindupEditorHandler" -->
      <command
            defaultHandler="org.jboss.tools.windup.ui.internal.handlers.NewXMLRulesetHandler"
            id="org.jboss.tools.windup.ui.newXMLRulesetCommand"
            name="New Ruleset">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.rules.RefreshRulesetsHandler"
            id="org.jboss.tools.windup.ui.refreshRulesets"
            name="Refresh Rulesets">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.rules.ImportRulesetHandler"
            id="org.jboss.tools.windup.ui.importRuleset"
            name="Import Ruleset">
      </command>
      <command
            defaultHandler="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.rules.OpenRuleDefinitionHandler"
            id="org.jboss.tools.windup.ui.openRuleDefinition"
            name="Open Rule Definition">
      </command>
   </extension>
    <extension
             point="org.eclipse.debug.core.launchConfigurationTypes">
          <launchConfigurationType
                sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
                name="%windupLaunch.configType.name"
                sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
                delegate="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.launch.WindupLaunchDelegate"
                modes="run"
                id="org.jboss.tools.windup.ui.WindupLaunchConfigurationType">
          </launchConfigurationType>
     </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             activeByDefault="true"
             contentProvider="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerContentProvider"
             icon="icons/windup.png"
             id="org.jboss.tools.windup.ui.explorer.WindupExplorerContentProvider"
             labelProvider="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerLabelProvider"
             name="RHAMT Explorer Content Provider"
             priority="highest">
          <triggerPoints>
             <adapt
                   type="org.eclipse.core.resources.IResource">
             </adapt>
             <adapt
                   type="org.jboss.tools.windup.ui.internal.explorer.WindupGroup">
             </adapt>
             <adapt
                   type="org.jboss.tools.windup.windup.Issue">
             </adapt>
          </triggerPoints>
          <possibleChildren>
                <or>
                    <instanceof value="org.eclipse.core.resources.IResource" />
                    <instanceof value="org.eclipse.jdt.core.IJavaElement" />
                    <instanceof value="org.eclipse.jdt.core.IJarEntryResource" />
                    <instanceof value="org.eclipse.jdt.internal.ui.packageview.PackageFragmentRootContainer" />
                </or>
            </possibleChildren> 
          <actionProvider
                class="org.jboss.tools.windup.ui.internal.explorer.WindupActionProvider"
                id="org.jboss.tools.windup.ui.internal.explorer.actionProvider"
                overrides="org.eclipse.jdt.ui.navigator.actions.ViewActions"
                priority="highest">
                <enablement>
                    <or>  
                        <instanceof value="org.eclipse.core.resources.IWorkspaceRoot" /> 
                        <adapt type="java.util.Collection"> 
                            <count value="0" />
                        </adapt>        
                    </or>
                </enablement>
          </actionProvider>
       </navigatorContent>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.viewer">
       <viewer
             viewerId="org.jboss.tools.windup.ui.explorer">
          <options>
             <property
                   name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                   value="false">
             </property>
             <property
                   name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
                   value="true">
             </property>
          </options>
       </viewer>
       <viewerContentBinding
             viewerId="org.jboss.tools.windup.ui.explorer">
          <includes>
             <contentExtension
                   isRoot="false"
                   pattern="org.eclipse.jdt.java.ui.javaContent"/>   
             <contentExtension
                   isRoot="true"
                   pattern="org.jboss.tools.windup.ui.*">
             </contentExtension></includes>
       </viewerContentBinding>
       <viewerActionBinding
             viewerId="org.jboss.tools.windup.ui.explorer">
          <includes>
             <actionExtension
                   pattern="org.jboss.tools.windup.ui.*">
             </actionExtension></includes>
       </viewerActionBinding>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.jboss.tools.windup.ui.internal.explorer.IssueExplorerPropertyTesters$QuickFixPropertyTester"
             id="org.jboss.tools.windup.ui.hasQuickFixTester"
             namespace="org.jboss.tools.windup.ui"
             properties="hasQuickFix, isFixed"
             type="org.jboss.tools.windup.ui.internal.explorer.MarkerNode">
       </propertyTester>
       <propertyTester
             class="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerPropertyTesters$GroupPropertyTester"
             id="org.jboss.tools.windup.ui.groupTester"
             namespace="org.jboss.tools.windup.ui"
             properties="isGroupNode"
             type="org.jboss.tools.windup.ui.internal.explorer.IssueExplorerContentProvider$TreeNode">
       </propertyTester>
       <propertyTester
             class="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerPropertyTesters$ReportPropertyTester"
             id="org.jboss.tools.windup.ui.hasReportTester"
             namespace="org.jboss.tools.windup.ui"
             properties="hasReport"
             type="org.jboss.tools.windup.ui.internal.explorer.MarkerNode">
       </propertyTester>
       <propertyTester
             class="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.IssueExplorerPropertyTesters$RuleDefinitionPropertyTester"
             id="org.jboss.tools.windup.ui.hasRuleDefinitionTester"
             namespace="org.jboss.tools.windup.ui"
             properties="hasRuleDefinition"
             type="org.jboss.tools.windup.ui.internal.explorer.MarkerNode">
       </propertyTester>
    </extension>
    <extension
          point="org.eclipse.ui.ide.markerImageProviders">
       <imageprovider
             icon="icons/windup.png"
             id="org.jboss.tools.windup.ui.imageprovider"
             markertype="org.jboss.tools.windup.core.hintMarker">
       </imageprovider>
    </extension>
    <extension
          point="org.eclipse.ui.ide.markerResolution">
       <markerResolutionGenerator
             class="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.issues.IssueResolutionGenerator"
             markerType="org.jboss.tools.windup.core.hintMarker">
       </markerResolutionGenerator>
       <markerResolutionGenerator
             class="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.issues.IssueResolutionGenerator"
             markerType="org.jboss.tools.windup.core.classificationMarker">
       </markerResolutionGenerator>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.intro.GettingStartedEditor"
             default="false"
             icon="icons/windup.png"
             id="org.jboss.tools.windup.ui.gettingStarted"
             name="Getting Started">
       </editor>
    </extension>
    <extension point="org.eclipse.ui.actionSets">
        <actionSet id="org.jboss.tools.windup.ui.actionSet.workbench"
            label="RHAMT Getting Started" visible="true">
            <action
                  class="org.jboss.tools.windup.ui.internal.intro.ShowGettingStartedAction"
                  icon="icons/windup.png"
                  id="org.jboss.tools.windup.ui.action.gettingStarted"
                  label="Getting Started"
                  menubarPath="help/group.intro"
                  style="push">
            </action>
        </actionSet>
    </extension>
    <extension
            point="org.eclipse.ui.intro.configExtension">
        <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/windupContent.xml">
        </configExtension>
    </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="org.jboss.tools.windup.ui.WindupPerspectiveFactory"
             fixed="false"
             icon="icons/windup.png"
             id="org.jboss.tools.windup.ui.perspective"
             name="RHAMT">
       </perspective>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.jboss.tools.windup.ui.preferences.PreferenceInitializer">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="org.jboss.tools.windup.ui.preferences.WindupPreferencePage"
             id="org.jboss.tools.windup.ui.preferences.WindupPreferencePage"
             name="RHAMT">
       </page>
    </extension>
    <extension
      point="org.eclipse.ui.decorators">
   <decorator
         class="org.jboss.tools.windup.ui.internal.server.WindupServerDecorator"
         icon="icons/server.gif"
         id="org.jboss.tools.windup.ui.serverDecorator"
         label="%serverStateDecoratorLabel"
         lightweight="true"
         location="BOTTOM_RIGHT"
         state="true">
      <enablement>
         <or>
            <objectClass
                  name="org.eclipse.wst.server.core.IServer">
            </objectClass>
            <objectClass
                  name="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
            </objectClass>
         </or>
      </enablement>
   </decorator>
</extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="org.jboss.tools.windup.ui.perspective">
          <view
                closeable="true"
                id="org.eclipse.ui.navigator.ProjectExplorer"
                minimized="false"
                moveable="true"
                ratio="0.50f"
                relationship="bottom"
                relative="org.jboss.tools.windup.ui.explorer"
                showTitle="true"
                standalone="false"
                visible="true">
          </view>
          <view
                closeable="true"
                id="org.eclipse.mylyn.tasks.ui.views.tasks"
                minimized="false"
                moveable="true"
                ratio="0.50f"
                relationship="stack"
                relative="org.eclipse.ui.navigator.ProjectExplorer"
                showTitle="true"
                standalone="false"
                visible="true">
          </view>
          <view
                closeable="true"
                id="org.jboss.tools.windup.ui.server"
                minimized="false"
                moveable="true"
                relationship="stack"
                relative="org.eclipse.ui.navigator.ProjectExplorer"
                showTitle="true"
                standalone="false"
                visible="true">
          </view>
          <newWizardShortcut
                id="org.jboss.tools.windup.ui.xml.ruleset.wizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.jboss.tools.windup.ui.java.ruleset.wizard">
          </newWizardShortcut>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.wst.xml.core.catalogContributions">
       <catalogContribution>
          <uri
                name="http://windup.jboss.org/schema/jboss-ruleset"
                uri="platform:/plugin/org.jboss.tools.windup.ui/schema/xsd/windup-jboss-ruleset.xsd">
          </uri>
       </catalogContribution>
    </extension>
    <extension
          point="org.eclipse.ui.newWizards">
       <category
             id="org.jboss.tools.windup.ui.windup.category"
             name="%_UI_WIZARD_WINDUP_CATEGORY">
       </category>
       <wizard
             canFinishEarly="false"
             category="org.jboss.tools.windup.ui.windup.category"
             class="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.rules.NewXMLRulesetWizard"
             finalPerspective="org.jboss.tools.windup.ui.perspective"
             hasPages="true"
             icon="icons/rules/repository-middle.gif"
             id="org.jboss.tools.windup.ui.xml.ruleset.wizard"
             name="RHAMT XML Ruleset"
             preferredPerspectives="org.jboss.tools.windup.ui.perspective">
          <description>
             %_UI_CREATE_NEW_XML_RULESET
          </description>
          <selection
                class="org.eclipse.core.resources.IResource">
          </selection>
       </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             class="org.jboss.tools.windup.ui.WindupExtensionFactory:org.jboss.tools.windup.ui.internal.explorer.LinkHelper"
             id="org.jboss.tools.windup.ui.internal.explorer.linkHelper">
          <editorInputEnablement></editorInputEnablement>
       </linkHelper>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.jboss.tools.windup.ui.internal.rules.RulesetEditorWrapper"
             extensions="xml"
             icon="icons/rules/ruleset_editor.png"
             id="org.jboss.tools.windup.ui.rulesetEditor"
             name="Ruleset Editor">
          <contentTypeBinding
                contentTypeId="org.jboss.tools.windup.ui.rulesetContentType">
          </contentTypeBinding>
       </editor>
    </extension>
    <extension
          point="org.eclipse.core.contenttype.contentTypes">
       <content-type
             base-type="org.eclipse.core.runtime.xml"
             file-extensions="xml"
             id="org.jboss.tools.windup.ui.rulesetContentType"
             name="RHAMT Ruleset"
             priority="high">
          <describer
                class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2"
                plugin="org.jboss.tools.windup.ui">
             <parameter name="element" value="{http://windup.jboss.org/schema/jboss-ruleset}ruleset">                
             </parameter>
          </describer>
       </content-type>
    </extension>
</plugin>
